.chat-notification
  %p.chat-notification チャットグループが作成されました。

  .whole-layout
    = render 'groups/sidebar', groups: @groups
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2
            = @group.name
          %p.chat-header__users
            Members:
            - @group.users.each do |user|
              = user.name
            %span.chat-heaeder__user takashihojo
        .chat-header--right
          %a.chat-header__edit-btn Edit
      .chat-body
        %ul.chat-message
          %li.chat-message
        = render @messages
        .chat-message__header.clearfix
      .chat-footer
        =form_for [@group, @message], html: {class: "new-message"} do |f|
          .chat-footer__body
            = f.text_area :body, placeholder: 'type a message', class: 'message_sent_form'
          .chat-footer__file
            = f.label :image do
              = f.file_field :image
              %i.fa.fa-image
          = f.submit 'Send'
